name: Node.js CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Cache Node.js modules
        uses: actions/cache@v1
        with:
          path: ~/.npm # npm cache files are stored in `~/.npm` on Linux/macOS
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-
      - run: npm ci
#      - run: npm run build --if-present
#      - run: npm test
      - name: Build Docs
        run: node index build docs
      - name: Archive Docs
        uses: actions/upload-artifact@v1
        with:
          name: output
          path: docs/_site
      - name: Checkout gh-pages repo
        uses: actions/checkout@v2
        with:
          repository: alyip98/GH-Actions-Test
          token: ${{ secrets.GH_PAGES_PERSONAL_TOKEN }}
          # Relative path under $GITHUB_WORKSPACE to place the repository
          path: 'gh-pages'
      - run: pwd && ls
      - run: cp -r docs/_site gh-pages/${{ github.sha }}
      - run: ls gh-pages

