name: Test Actions

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
      - name: Checkout Markbind
        uses: actions/checkout@v2

      - name: Install Node Modules
        run: npm ci

      - name: Test Actions
        uses: ./.github/actions/test
        with:
          who-to-greet: 'Mona the Octocat'
            # Use the output from the `hello` step
      - name: Get the output time
        run: echo "The time was ${{ steps.hello.outputs.time }}"

